@media screen and (max-width: 1210px){

    footer{
        margin-top: 0px;
    }

}

@media screen and (max-width: 850px){

    h1 {
        font-size: 3rem;  
    }
    
    p{
        font-size: 1.3rem;
    }
    
    .imgmorpion{
        width: 20%;
        margin-top: 150px;
    }
        
    footer{
        margin-top: 250px;
    }
}

/*---------------------------------------------------------------*/

@media screen and (max-width: 400px){

    h1 {
        font-size: 2rem;  
    }
    
    p{
        font-size: 1rem;
    }
    
    .imgmorpion{
        width: 20%;
        margin-top: 20px;
    }
    
    
    .pscore {
        font-size: 2rem;
    }
    
    .scoreTrait{
        max-width: 10%;
    }
    
    #gagnant{
        font-size: 1rem;
    }
    
    div{
        margin-top: 10px;
    }
    
    form{
        margin-top: 10px;
    }
    
    footer{
        margin-top: 5px;
    }

    
}